<d-data-table
  #datatable
  [dataSource]="basicDataSource"
  [scrollable]="true"
  [checkable]="true"
  [type]="'striped'"
>

  <d-column
    *ngFor="let colOption of dataTableOptions.columns"
    [field]="colOption.field"
    [header]="colOption.header"
    [fieldType]="colOption.fieldType"
    [width]="'100px'"
  >
  </d-column>
  <d-column 
  [width]="'50px'"
  [header]="'操作'">
      <d-cell>
        <ng-template let-rowIndex="rowIndex" let-rowItem="rowItem">
          <div
            class="icon icon-create-sub-item cursor-pointer"
            (click)="addSubData(rowIndex, rowItem)"
          ></div>

        </ng-template>
        
      </d-cell>
    </d-column>

</d-data-table>

